

{% extends 'base.html' %} {% block content %}

<div class="showcase">
    <!-- header -->
    {% include 'partials/_navbar.html' %}
    <!-- header end -->


{% load static %}
<link rel="stylesheet" href="{% static 'about.css' %}" />

    <!-- style -->

<div class="about-section">
  <h1>About Us </h1>
  <br>
  <p>In this project, which was collaboratively designed by us 
  , we learned about current trends in games and programming languages and 
  created this project with the help of youtube tutorials. The products we created
   for this project were a website and reports for the college and university.
    We as a team used various web hosts to design their websites, the reports 
    were designed in Ms. word and Powerpoint.<p> <br>
At the start of the project, we learned about several games and programming languages, 
learned about college requirements, met with and took help from both 
college friends and professors and learned more about the project. We then worked in groups of two to design our 
own project.</p>
</div>

<br>
<h2 style="text-align:center">Our Team</h2><br>
<div class="row">
  <div class="column">
    <div class="card">
     <p class="title">Member</p>
      <img src="{% static 'images/ram.png' %}" alt="Ram" style="width:70%">
      <div class="container">
        <h2>Ram Krishna Bakhati</h2>
        <p>Worked on: Frontend, Backend and Reports.</p>
        <p>ram@gmail.com</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card"> <p class="title">Member</p>
     <img src="{% static 'images/sujit.webp' %}" alt="Sujit" style="width:70%">
      <div class="container">
        <h2>Sujit Hona</h2>
        <p>Worked on: Frontend, Backend and Reports.</p>
        <p>sujit@gmail.com</p>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}

